$baseSpace: 4px;
$cardPadding: 8px;
$contentPadding: 12px;
$borderRadius: 5px;
$bodyBg: linear-gradient(180deg, #f6f6f6 0%, #e2e2e2 100%);
$contentBg: #fff;
$borderColor: #d3d3d3;
$border: 1px solid $borderColor;
$actionColor: #008dcd;
$callToAction: #ff9800;
$headerColor: #005f8f;
$fontColor: #000;
$fontMutedColor: #888888;
$inputFocusColor: #e1f3ff;

$box-shadow: 0 10px 15px 0 rgba(black, 0.1);
$card-box-shadow: 0 4px 7px -3px rgba(black, 0.4);
